# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
ConditionFirstBoot=yes
ConditionPathIsReadWrite=/etc/ssh
ConditionPathIsSymbolicLink=!/etc/ssh
Before=ssh.service sshd.service sshd@.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=ssh-keygen -A

[Install]
WantedBy=ssh.service sshd.service sshd@.service ssh.socket sshd.socket
