# SPDX-License-Identifier: LGPL-2.1-or-later
# Enable wakeup from suspend via the Surface Type Cover
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="045e", ATTR{power/wakeup}=="disabled", ATTR{power/wakeup}="enabled"
