# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Before=user.slice
ConditionFirstBoot=yes
ConditionPathIsReadWrite=/etc

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemctl preset-all --global
